body {
  padding: 0;
  margin: 0;
}

html,
body,
#map {
  height: 100%;
  width: 100vw;
}

.cp-tooltip {
  color: magenta;
  background: transparent;
  font-size: 24px;
  border: none;
  box-shadow: none;
}

.cp-tooltip:before {
  display: none;
}